* {
    box-sizing: border-box;
}

.App {
    text-align: left;
    max-width: 1200px;
    padding: 20px 15px;
    margin: 80px auto;
}

.highlight {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}

.App-link {
    color: #61dafb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 32px;
    margin: 20px 0;
}

h2 {
    font-size: 20px;
    margin: 0 0 10px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 22px;
}

h6 {
    font-size: 18px;
}

.row {
    display: flex;
    flex-direction: row;
    margin: 0 -15px 0;
    flex-wrap: wrap;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 0 auto;
}

.col-2 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    width: 100%;

    display: flex;
    flex-direction: column;
}

body {
    font-family: "Lato", sans-serif;
    background: #6a3093; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #a044ff,
        #6a3093
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #a044ff,
        #6a3093
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #29323c,
        #485563
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #29323c,
        #485563
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: #34495e;
    margin: 0;
}

.box {
    background: #a6acaf;
    background: white;
    padding: 20px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

    position: relative;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 13px;
}

.box.chart-wrap > div {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    width: 100%;
    justify-content: center;
}

.menu {
    height: 60px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
}

.menu-inner {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-inner input {
    -webkit-appearance: none;
    border: 2px solid #0000009c;
    padding: 10px 15px;
    font-size: 16px;
    text-align: center;
    width: 225px;
    border-radius: 6px;
}

.search-results {
    position: absolute;
    top: 60px;
    background: white;
    padding: 20px;
    color: black;
    width: 350px;
    max-height: 300px;
    overflow: scroll;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -ms-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.search-results li {
    list-style: none;
    padding: 15px 0;
}

.search-results li:hover {
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .col-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .box {
        padding: 5px;
    }
    h2 {
        font-size: 20px;
    }
}

.new-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
}

.info-wrap {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    width: 100%;
    border-radius: 8px;
    color: white;
    padding: 0 15px;
    margin-bottom: 15px;
}

.info-wrap .info-data {
    padding: 20px;
    background: white;
    color: black;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border-radius: 6px;
}

.info-wrap .info-title {
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

.info-wrap .info-title,
.info-wrap .info-data {
    text-align: center;
}

.info-data .highlight {
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 35px;
    border-radius: 3px;
    background: none;
}

.info-box {
    box-shadow: none;
    background: none;
    padding: 0;
    margin: 0 -15px 20px;
}

.main-title {
    margin-top: 0;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .app {
        padding: 0 10px;
    }

    .main-title,
    .info-data .info-title {
        font-size: 22px;
    }

    .col-md-2 {
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%;
    }

    .info-data .highlight {
        font-size: 25px;
    }
}
